.list-group-item {
    padding: 15px 20px;
    
}
.list-group-item-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    min-width: 550px;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0;
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.list-group-item .btn-star {
    color: #aeaeaa;
}

.list-group-item .btn-trash {
    color: #e5383b;
}

.list-group-item .btn-heart {
    color: #aeaeaa
}

.list-group-item.important, .list-group-item.important .fa-star  {
    color: gold;
}

.list-group-item.like .fa-heart  {
    color: red;
}
/* .list-group-item.like .fa-star  {
    color: red;
} */

/* .list-group-item.increase .list-group-item-label, .list-group-item.increase .list-group-item-input {
    color: red;
} */